.menu {
  &--header-container {
    position: sticky;
    top: 0;
    background-color: var(--background);
    z-index: 2;
    padding: 24px 20px 12px 20px;
  }
}

.header {
  &--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &--actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
