.quantity-selector {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 8px 10px;
  background-color: var(--background);
  border-radius: 12px;

  p {
    width: 12px;
    text-align: center;
  }

  button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-secondary);

    &[disabled] {
      opacity: 0.6;
    }
  }
}
