.cart {
  &--title {
    margin-bottom: 24px;
  }

  &--items {
    & > :not(:last-child) {
      margin-bottom: 12px;
    }

    & > :last-child {
      margin-bottom: 100px;
    }
  }

  &--order-btn {
    position: fixed;
    bottom: 18px;
    width: calc(100% - 40px);
  }
}
