$backgroundOffset: 24px;

.product {
  &--page-container {
    position: relative;
  }

  &--image-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 36px 0 calc(36px + $backgroundOffset) 0;

    img {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      z-index: 3;
    }

    .back-button {
      position: absolute;
      top: 24px;
      left: 20px;
      z-index: 4;
    }
  }

  &--image-blur {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    //filter: blur(6px);
    //-webkit-filter: blur(6px);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, .6);
      backdrop-filter: blur(25px);
      -webkit-backdrop-filter: blur(25px);
    }
  }

  &--info-container {
    position: relative;
    bottom: $backgroundOffset;
    padding: 14px 24px 24px 24px;
    background-color: #FFFFFF;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  &--available-count {
    color: var(--text-secondary);
    margin: 6px 0;
  }

  &--price {
    color: var(--main-color);
    margin-bottom: 20px;
  }

  &--description {
    margin-top: 8px;
    margin-bottom: 20px;
    color: var(--text-secondary);
  }

  &--actions-container {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }

  &--empty-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $backgroundOffset;
    background-color: #FFFFFF;
  }
}
